body {
    background: lightgray;
    min-width: 293px;
}

.options-wrapper {
    display: flex;
    flex-direction: row;
}

.wrapper {
    background: grey;
    width: 80%;
    margin: auto;
    margin-top: 15%;
    padding-top: 3%;
    border: 2px solid grey;
    border-radius: 5px;
    max-width: 1230px;
}

#password-area {
    background: white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    padding: 1em;
    overflow-wrap: break-word;
}

.slider {
    text-align: center;
}

#character-input {
    margin-top: 1.5em;
}

#character-input input {
    text-align: center;
}

#password-area-container {
    position: relative;
}

img {
    height: 2em;
    right: 3em;
    top: 1px;
    position: absolute;
    margin-top: .5em;

}

@media (max-width: 767px) {
    .slider {
        background: cadetblue;
        border: 2px solid cadetblue;
        padding-bottom: 1em;
        padding-top: .5em;
    }
}
